# print

In [1]:
name='Raghul Ramesh'
location='Chennai'

print("Trainer Name :", name)

Trainer Name : Raghul Ramesh

In [2]:
print('City:',location)

City: Chennai

In [3]:
print("Trainer name : {} and he is from {}".format(name,location))

Trainer name : Raghul Ramesh and he is from Chennai

In [5]:
print(f"Trainer name is {name} and he is from {location}")

Trainer name is Raghul Ramesh and he is from Chennai

In [6]:
productname='Laptop'
amount=75000

print("The price of {} is {}".format(productname, amount))

The price of Laptop is 75000

In [9]:
print(f"The price of {productname} is {amount}")

The price of Laptop is 75000

# Control Statement

In [17]:
x=100

if x == 10:
    print("x is 10")
    print("x:",x)
else:
    print("X is not 10")
    print("x:{}".format(x))

X is not 10
x:100

In [21]:
x=20

if x == 10:
    print("x is 10")
    print("x:",x)
elif x == 100:
    print("Hundered")
elif x == 0:
    print("ZERO")
else:
    print("X is not 10")
    print("x:{}".format(x))

X is not 10
x:20

In [22]:
country=input("Enter your contry:")

Enter your contry:India

In [23]:
country

'India'

In [24]:
type(country)

str

In [25]:
age=input('Enter your age:')

Enter your age:40

In [26]:
age

'40'

In [27]:
type(age)

str

In [28]:
age=int(input('Enter your age:'))

Enter your age:50

In [29]:
age

50

In [30]:
type(age)

int

In [34]:
country=input("Enter your country name:")
age=int(input("Enter your age:"))

if country == "India":
    if age >= 18:
        print("You can vote!")
    else:
        print("Your age is {} which is less than 18, hence you cannot vote".format(age))
else:
    print(f"Please follow your country : {country} standards!")

Enter your country name:Singapore
Enter your age:50
Please follow your country : Singapore standards!

# LOOPS

In [37]:
# while and for loop
'''
syntax:
while condition:
    statement
'''

x=0
while x<=10:
    print(x)
    x=x+1

0
1
2
3
4
5
6
7
8
9
10

In [42]:
x=0
while x<=10:
    if x == 5:
        break
    print(x)
    x=x+1

0
1
2
3
4

In [43]:
x=0
while x<=10:
    x=x+1
    if x == 5:
        continue
    print(x)

1
2
3
4
6
7
8
9
10
11

In [38]:
city=['Chennai','Bangalore','Hyderabad','Pune','Mumbai','New Delhi']

In [39]:
'''
for var in collections/sequence:
    statements
'''

for c in city:
    print(c)

Chennai
Bangalore
Hyderabad
Pune
Mumbai
New Delhi

# Range

In [40]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [41]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [46]:
x=10
if x == 0:
    print("Please asssign some value to x as it is zero")
else:
    pass